<div class="max-w-xl mx-auto p-6 bg-white rounded-xl shadow-md">
  <h2 class="text-xl font-bold text-center mb-6 text-orange-500">Effectuer un Transfert</h2>

  <form [formGroup]="transfertForm" (ngSubmit)="envoyerTransfert()">
    <!-- Type de compte destinataire -->
    <label class="block mb-3">
      Type de compte destinataire :
      <select formControlName="destinataireType" (change)="calculerFrais()" class="w-full mt-1 p-2 border rounded">
        <option value="sous-compte">Sous-compte</option>
        <option value="compte-principal">Compte principal</option>
        <option value="autre">Autre compte</option>
      </select>
    </label>

    <!-- Numéro du client (toujours affiché) -->
    <label class="block mb-3">
      Numéro du client :
      <input type="text" formControlName="numeroClient" class="w-full mt-1 p-2 border rounded" />
    </label>

    <!-- Montant -->
    <label class="block mb-3">
      Montant à transférer :
      <input type="number" formControlName="montant" (input)="calculerFrais()" min="0" class="w-full mt-1 p-2 border rounded" />
    </label>

    <!-- Prise en charge des frais (pas pour compte-principal) -->
    <label class="inline-flex items-center mb-3" *ngIf="transfertForm.value.destinataireType !== 'compte-principal'">
      <input type="checkbox" formControlName="priseEnCharge" (change)="calculerFrais()" class="mr-2" />
      Prise en charge des frais par l'émetteur
    </label>

    <!-- Date planifiée (pas pour compte-principal) -->
    <label class="block mb-3" *ngIf="transfertForm.value.destinataireType !== 'compte-principal'">
      Date planifiée (optionnelle) :
      <input type="date" formControlName="datePlanifiee" class="w-full mt-1 p-2 border rounded" />
    </label>

   
    <div class="mb-4 text-sm text-gray-700">
      <p>Frais estimés : <strong>{{ frais | number:'1.2-2' }} FCFA</strong></p>
      <p>Total débité : <strong>{{ total | number:'1.2-2' }} FCFA</strong></p>
    </div>

    <button type="submit" class="bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600 w-full">
     Transferer
    </button>
  </form>
</div>
