<div class="flex justify-between items-center mb-4">
  <h1 class="text-3xl font-bold text-orange-500">Liste des comptes</h1>

  <div class="flex space-x-4 items-center">
    <div>
      <label for="etatFiltre" class="mr-2 font-medium">Filtrer par état :</label>
      <select id="etatFiltre"
              [(ngModel)]="etatSelectionne"
              (change)="filtrerParEtat()"
              class="border border-gray-300 rounded px-3 py-2">
        <option value="">Tous</option>
        <option value="Actif">Actif</option>
        <option value="Bloquer">Bloquer</option>
      </select>
    </div>

    <button class="bg-orange-500 text-white font-bold px-4 py-2 rounded"
            routerLink="/register">
      Créer un compte
    </button>
  </div>
</div>


 <table class="min-w-full bg-white rounded shadow text-sm">
    <thead class="bg-black text-white">
       <tr class="bg-black text-white text-left">
      <th class="py-3 px-4">Numéro</th>
      <th class="py-3 px-4">Montant</th>
      <th class="py-3 px-4">État</th>
      <th class="py-3 px-4">Action</th>
    </tr>
  </thead>
  <tbody class="text-gray-800">
    <tr *ngFor="let compte of comptes" class="border-b">
      <td class="py-3 px-4">{{ compte.numero }}</td>
      <td class="py-3 px-4">{{ compte.montant | number:'1.0-0' }} FCFA</td>
      <td class="py-3 px-4">{{ compte.etat }}</td>
      <td>
        <button (click)="voirDetail(compte.id)" >
          
          👁️ 
        </button>
      </td>
    </tr>
  </tbody>
</table>
